{{ welcomes =  { collection:welcomes :date_time:is="today"  as="welcomes" } }}
<div class="w-screen h-screen" >
    
        {{ if get:index && get:index < { welcomes | count }  - 1 }}
            {{ index = { get:index | add:1 }  }}
        {{ else }}
            {{ index = 0 }}
        {{ /if }}
        {{ if welcomes | count > 0 }}
    
        <div hx-get="/?index={{ index }}" hx-trigger="every day" hx-swap="outerHTML" hx-select="#this" id="this" hx-push-url="true" >
            {{ welcomes | offset(index) | limit(1) }}
                <div class="text-6xl  font-bold" >{{ content }}</div>
            {{ /welcomes }}
        </div>

        {{ else }}

        <img class="w-full h-full " src="{{ settings:default_background:url }}" />

        {{ /if }}
    
    {{ /welcomes }}
</div>