<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title ?? site:name }}</title>
        {{ vite src="resources/js/site.js|resources/css/site.css" }}
        <script src="https://unpkg.com/htmx.org@1.9.6"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    </head>
    <body  class="w-screen h-screen bg-gray-100 font-sans leading-normal text-gray-800 overflow-hidden">
        <div class="fixed top-0 left-0 w-full h-full" id="leaves" ></div>    
        {{ template_content }}
    </body>
</html>
